
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- search form -->
        <form class="sidebar-form" method="get" action="#">
            <div class="input-group">
                <input type="text" placeholder="Search..." class="form-control" name="q">
                <span class="input-group-btn">
                    <button class="btn btn-flat" id="search-btn" name="search" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul data-widget="tree" class="sidebar-menu">
            <li class="treeview" id="gas">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>加油站管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="gas-list"><a href="@Url.Action("List","Gas")"><i class="fa fa-circle-o"></i> 加油站列表</a></li>
                    <li class="gas-map"><a href="@Url.Action("Map","Gas")"><i class="fa fa-map-marker"></i> 地图列表</a></li>
                </ul>
            </li>
            <li class="treeview" id="promotion">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>促销爆料</span>
                    <span class="pull-right-container">
                        <span class="label bg-red pull-right">@Html.Action("GetPromotionByAudit","Promotion",new { audit = GasSolution.Domain.Audit.None })</span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="promotion-page"><a href="@Url.Action("List","Promotion")"><i class="fa fa-circle-o"></i> 促销管理</a></li>
                  
                </ul>
            </li>

            <li class="treeview" id="promotion">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>加油站上报</span>
                    <span class="pull-right-container">
                        <span class="label bg-red pull-right">@Html.Action("GetGasCostomByAudit", "GasCustom", new { audit = GasSolution.Domain.Audit.None })</span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="promotion-page"><a href="@Url.Action("List","GasCustom")"><i class="fa fa-circle-o"></i> 爆料加油站</a></li>                    
                </ul>
            </li>
            <li class="treeview"id="customer">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>用户管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="customer-list"><a href="@Url.Action("List","Customer")"><i class="fa fa-user"></i> 用户列表</a></li>
                </ul>
            </li>
            <li class="treeview" id="vehicle">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>车辆管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="vehicle-list"><a href="@Url.Action("List","Vehicle")"><i class="fa fa-circle-o"></i> 车辆列表</a></li>
                    <li class="car-brand-list"><a href="@Url.Action("List","CarBrand")"><i class="fa fa-circle-o"></i> 车辆品牌</a></li>

                </ul>
            </li>
            <li class="treeview" id="keyfont">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>关键字库</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="@Url.Action("List","KeyFont")" class="keyfont-list"><i class="fa fa-circle-o"></i> 关键字列表</a></li>
                    
                    
                </ul>
            </li>
            <li class="treeview"id="setting">
                <a href="#">
                    <i class="fa fa-table"></i> <span>配置管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="setting-list"><a href="@Url.Action("List","Setting")"><i class="fa fa-circle-o"></i> 高级配置</a></li>
                    <li class="common-page"><a href="@Url.Action("Common","Setting")"><i class="fa fa-circle-o"></i> 公共配置</a></li>
                    <li class="weichat-page"><a href="@Url.Action("WeChat","Setting")"><i class="fa fa-circle-o"></i> 微信配置</a></li>
                    <li class="aliyun-page"><a href="@Url.Action("Aliyun","Setting")"><i class="fa fa-circle-o"></i> 阿里云配置</a></li>
</ul>
            </li>
            <li>
                <a href="pages/calendar.html">
                    <i class="fa fa-calendar"></i> <span>Calendar</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-red">3</small>
                        <small class="label pull-right bg-blue">17</small>
                    </span>
                </a>
            </li>
            <li>
                <a href="pages/mailbox/mailbox.html">
                    <i class="fa fa-envelope"></i> <span>Mailbox</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-yellow">12</small>
                        <small class="label pull-right bg-green">16</small>
                        <small class="label pull-right bg-red">5</small>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>Examples</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="pages/examples/invoice.html"><i class="fa fa-circle-o"></i> Invoice</a></li>
                    <li><a href="pages/examples/profile.html"><i class="fa fa-circle-o"></i> Profile</a></li>
                    <li><a href="pages/examples/login.html"><i class="fa fa-circle-o"></i> Login</a></li>
                    <li><a href="pages/examples/register.html"><i class="fa fa-circle-o"></i> Register</a></li>
                    <li><a href="pages/examples/lockscreen.html"><i class="fa fa-circle-o"></i> Lockscreen</a></li>
                    <li><a href="pages/examples/404.html"><i class="fa fa-circle-o"></i> 404 Error</a></li>
                    <li><a href="pages/examples/500.html"><i class="fa fa-circle-o"></i> 500 Error</a></li>
                    <li><a href="pages/examples/blank.html"><i class="fa fa-circle-o"></i> Blank Page</a></li>
                    <li><a href="pages/examples/pace.html"><i class="fa fa-circle-o"></i> Pace Page</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-share"></i> <span>Multilevel</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-circle-o"></i> Level One
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="#"><i class="fa fa-circle-o"></i> Level Two</a></li>
                            <li class="treeview">
                                <a href="#">
                                    <i class="fa fa-circle-o"></i> Level Two
                                    <span class="pull-right-container">
                                        <i class="fa fa-angle-left pull-right"></i>
                                    </span>
                                </a>
                                <ul class="treeview-menu">
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                    <li><a href="#"><i class="fa fa-circle-o"></i> Level Three</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li><a href="#"><i class="fa fa-circle-o"></i> Level One</a></li>
                </ul>
            </li>
           
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>