
@{
    ViewBag.Title = "石门油价-管理控制台";
}
@section scripts_top
    {
    @Html.IncludeScript("~/Scripts/Chart.min.js")

}
<div class="dashboard">
    <section class="content-header"></section>
    <section class="content">
        @Html.AntiForgeryToken()
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- 用户 -->
                @Html.Action("CustomerStatisticalOverview", "Customer")
                <!-- /.用户 -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- 加油站 -->
                @Html.Action("GasStatisticalOverview", "Gas")
                <!-- /.加油站 -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- 车辆 -->
                @Html.Action("VehicleStatisticalOverview", "Vehicle")
                <!-- /.车辆 -->
            </div>
            <!-- /.col -->
            <div class="col-md-3 col-sm-6 col-xs-12">
                <!-- 油价爆料 -->
                @Html.Action("PromotionStatisticalOverview", "Promotion")
                <!-- /.油价爆料 -->
            </div>
            <!-- /.col -->
        </div>
        <div class="row">

            <div class="col-md-7">
                @Html.Action("NewVehicles", "Vehicle")
            </div>

            <div class="col-md-5">
                @Html.Action("NewCustomer", "Customer")
            </div>
        </div>

    </section>
</div>
