@model GasSolution.Web.Models.Gas.PromotionListModel
@{
    ViewBag.Title = "今日降价信息";
    ViewBag.ActiveMenu = "Home"; //The menu item will be active for this page.
}
@Html.IncludeScript("/Scripts/admin.common.js")
@Html.IncludeScript("/Scripts/mobiscroll-2.13.2.full.min.js")

<div class="promotion-page">
    <div class="promotion-title">
        <h1><img class="icon" src="~/images/logo.png" />今日油价降价信息</h1>
    </div>
    <div class="promotion-content">
        <div class="search">
            <div class="input-group">
                @Html.TextBoxFor(model => model.keywords, new { placeholder = "请输入关键字" ,@class= "form-control" })
                <div class="input-group-addon btn btn-default"><i class="fa fa-search"></i></div>
            </div>
        </div>
        <div class="filter clearfix">

            @Html.HiddenFor(model => model.pageIndex)
            @Html.HiddenFor(model => model.pageSize)
        </div>
        <ul class="promotions"></ul>
    </div>
</div>

<script type="text/javascript">

    function additionalData() {
        var data = {
            pageIndex: $('#@Html.FieldIdFor(model => model.pageIndex)').val(),
            pageSize:  20,
            keywords: $('#@Html.FieldIdFor(model => model.keywords)').val()
        };
        addAntiForgeryToken(data);
        return data;
    }

    function loadPromotion() {
        $.ajax({
        url: "@Url.Action("GasPromotions", "Gas")",
            type: "POST",
            dataType: 'json',
            data: additionalData(),
            success: function (gas) {
                var content = $(".promotions");
                $.each(gas.Data, function (i, val) {
                    var gasName = "<h5>" + val.GasName + "</h5>";
                    var gasAddress = "<p>地址：" + val.Address + "</p>";
                    var price = "<div class=\"text-red\">" + val.Promotion + " </div>";
                    var date = "<div>" + val.Times + "</div>";
                    var notice = "<div>" + val.Notice + "</div>";
                    var li = "<li>" + gasName + gasAddress + price + date + notice + "</li>";
                    content.append(li);
                });

                $('#pageIndex').val(gas.NextPage);
            }
        });
    }

    $(function () {


            $("#@Html.FieldIdFor(model => model.keywords)").keydown(function (event) {
                if (event.keyCode === 13) {
                    $(".search .input-group-addon").click();
                    return false;
                }
            });

        $(".promotion-filter > li > a").click(function () {
            $(".promotion-filter > li >a").removeClass("active");
            $(this).addClass("active");
            $("sort").val($(this).data("sort"));

            var content = $(".promotions");
            content.html('');
            loadPromotion();
        });
        $(".search .input-group-addon").click(function () {
            var content = $(".promotions");
            content.html('');
            loadPromotion();
        });

    })

    window.onload = function () {
        loadPromotion();
    };
</script>
