
@{
    ViewBag.Title = "身边加油站";
}

@Html.IncludeScript("/Scripts/admin.common.js")
@Html.IncludeScript("http://api.map.baidu.com/api?v=2.0&ak=yccG7GWikwgRd7f3mZ26NQ4tsbeXmiga")
@Html.AntiForgeryToken()

<div class="gas-page">
    <div id="allmap"></div>
</div>
<style>
    #allmap {
        width: 100%;
        height: 100%;
    }
</style>



<script type="text/javascript">

    var lng = "@(ViewData["lng"])";
    var lat = "@(ViewData["lat"])";

    function initMap() {

        createMap();//创建地图

        setMapEvent();//设置地图事件

        addMapControl();//向地图添加控件

        addMapOverlay();//向地图添加覆盖物

    }

    function createMap() {
        var stCtrl = new BMap.PanoramaControl(); //构造全景控件
        stCtrl.setOffset(new BMap.Size(50, 10));
        map = new BMap.Map("allmap");
        map.centerAndZoom(new BMap.Point(lng, lat), 15);
        var myIcon = new BMap.Icon("/images/user.png", new BMap.Size(32, 32));
        var gpsPoint = new BMap.Point(lng, lat);
        map.setCurrentCity("石家庄");  
        map.addControl(new BMap.NavigationControl({ anchor: BMAP_ANCHOR_TOP_RIGHT, type: BMAP_NAVIGATION_CONTROL_LARGE }));
        map.addControl(new BMap.ScaleControl());
        map.addControl(new BMap.OverviewMapControl());
        map.centerAndZoom(gpsPoint, 15);
        var marker = new BMap.Marker(gpsPoint, { icon: myIcon });
        map.addOverlay(marker);
        map.addControl(stCtrl);//添加全景控件
        // 添加定位控件
        var geolocationControl = new BMap.GeolocationControl({
            anchor: BMAP_ANCHOR_BOTTOM_RIGHT,
            showAddressBar: false,
            offset: new BMap.Size(5, 5)

        });

        geolocationControl.addEventListener("locationSuccess", function (e) {
            lat = e.point.lat;
            lng = e.point.lng;
            map.clearOverlays();    
            // 定位成功事件
            addMapOverlay();

        });

        geolocationControl.addEventListener("locationError", function (e) {

            // 定位失败事件
            alert(e.message);
        });

        map.addControl(geolocationControl);

    }

    function setMapEvent() {

        map.enableScrollWheelZoom();

        map.enableKeyboard();

        map.enableDragging();

        map.enableDoubleClickZoom()

    }

    function addClickHandler(target, window) {

        target.addEventListener("click", function () {

            target.openInfoWindow(window);

        });

    }

    //向地图添加控件

    function addMapControl() {
        var cr = new BMap.CopyrightControl({ anchor: BMAP_ANCHOR_BOTTOM_LEFT });  //设置版权控件位置
        map.addControl(cr); //添加版权控件
        var bs = map.getBounds();
        cr.addCopyright({ id: 1, content: "", bounds: bs });
    }

    function addMapOverlay() {
        $.ajax({
            url: "@Url.Action("GetAllGasList", "Gas")",
            type: "POST",
            dataType: 'json',
            data: addAntiForgeryToken,
            success: function (gas) {
                $.each(gas.Data, function (i, val) {
                    var pt = new BMap.Point(val.Longitude, val.Dimension);

                    var marker = new BMap.Marker(pt, {
                        icon: new BMap.Icon("/images/gas.png", new BMap.Size(24, 25), {
                            imageOffset: new BMap.Size(0, 3)
                        })

                    });
                    var dist = map.getDistance(new BMap.Point(val.Longitude, val.Dimension), new BMap.Point(lng, lat)).toFixed(2);

                    var labStr = "距离您" + dist + "米";
                    var label = new BMap.Label(labStr, { position: pt,offset: new BMap.Size(0, -25) });
                    label.setStyle({
                        fontSize: "12px",
                        border: "1px dashed #FC6",
                        padding: "3px 5px",
                        textAlign: "center",
                        lineHeight: "20px",
                        background:"rgb(255, 255, 255)",
                        cursor: "pointer"

                    });

                    map.addOverlay(label);

                    var opts = {
                        width: 200,
                        title: "<div class='info-txt'><span>" + val.GasName+"</span></div>",
                        enableMessage: false
                    };

                    var infoWindow = new BMap.InfoWindow("<div class='info-txt2'><i class='am-icon-map-marker'></i> 距离您 " + dist + "米</div><div class='info-txt2'><i class='am-icon-home'></i> " + val.Address + "</div><div class='info-btn'><a href='http://api.map.baidu.com/marker?location=" + val.Dimension + "," + val.Longitude + "&title=" + val.GasName + "&content=" + val.Address + "&output=html'><div class='info-btn-r btn btn-success'><i class='am-icon-map-marker'></i> 一键导航</div></a></div>", opts);
                    
                    addClickHandler(marker, infoWindow);

                    map.addOverlay(marker);


                });
            }
        });

    }

    var map;
    initMap();
</script>