@model GasSolution.Web.Areas.Admin.Models.Promotions.PromotionListModel
@{
    ViewBag.Title = "促销管理";
}
@Html.AntiForgeryToken()

<section class="content-header">
    <h1>促销管理</h1>
    <ol class="breadcrumb">
        <li><a href="@Url.Action("Index", "Home")"><i class="fa fa-dashboard"></i> Home</a></li>
        <li><a href="@Url.Action("List", "Promotion")">促销管理</a></li>
    </ol>
</section>
<section class="content">
    <div class="portlet-body">
        <div class="row">
            <div class="col-md-4">
                <div class="form-group">
                    @Html.GasDropDownListFor(model => model.AuditId,Model.AvailableAudits)
                </div>
            </div>
            <div class="col-md-2">
                <div class="form-group">
                    @Html.GasEditorFor(model => model.Time)
                </div>
            </div>
            <div class="col-md-1 text-center">
                <a href="#" class="reload btn btn-social-icon" id="search-promotion"><i class="fa fa-search"></i></a>
            </div>            
        </div>
        <div id="promotion-grid"></div>
    </div>
</section>

<script>
    $(document).ready(function () {
        $("#promotion-grid").kendoGrid({
            dataSource: {
                type: "json",
                transport: {
                    read: {
                        url: "@Html.Raw(Url.Action("List", "Promotion"))",
                        type: "POST",
                        dataType: "json",
                        data: additionalData
                    }
                },
                schema: {
                    data: "Data",
                    total: "Total",
                    errors: "Errors"
                },
                error: function (e) {
                    display_kendoui_grid_error(e);
                    // Cancel the changes
                    this.cancelChanges();
                },
                pageSize: 20,
                serverPaging: true,
                serverFiltering: false,
                serverSorting: false
            },
            pageable: {
                refresh: true,
                pageSizes: [10, 20, 50]
            },
            scrollable: false,
            columns: [
                {
                    field: "Id",
                    title: "Id",
                    width: 40,
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                },  {
                    field: "StartTime",
                    title: "开始时间",
                    width: 90,
                    type: "date",
                    format: "{0:G}",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "EndTime",
                    title: "结束时间",
                    width: 90,
                    type: "date",
                    format: "{0:G}",
                    headerAttributes: { style: "text-align:center" },
                    attributes: { style: "text-align:center" },
                }, {
                    field: "Gasolin_Ninety_Two",
                    title: "#92",
                    width: 40,
                }, {
                    field: "Gasoline_Ninety_Fine",
                    title: "#95",
                    width: 40,
                }, {
                    field: "Gasoline_Ninety_Eight",
                    title: "#98",
                    width: 40,
                }, {
                    field: "Natural",
                    title: "天然气",
                    width: 40,
                }, {
                    field: "Id",
                    title: "操作",
                    width: 200,
                    template: '<a class="btn btn-success" href="Edit/#=Id#">编辑</a><a class="btn btn-danger">删除</a>'
                }
            ]
        });

        //search button
        $('#search-promotion').click(function () {
            var grid = $('#promotion-grid').data('kendoGrid');
            grid.dataSource.page(0);
        });
    });
    function additionalData() {
        var data = {
            AuditId: $('#@Html.FieldIdFor(model => model.AuditId)').val(),
        };
        addAntiForgeryToken(data);

        return data;
    }

    window.onload = function () {
        lingth_sidebar("promotion-list", "promotion");
    };

</script>
